.container {
  max-width: 600px;
  margin:  auto;
  margin-top: 2cm;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.token-info {
  display: flex;
  align-items: center;
}

.token-icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 10px;
}

.token-details {
  display: flex;
  flex-direction: column;
}

.token-name {
  margin: 0;
  font-size: 24px;
}

.token-status {
  color: #888;
}

.balance-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.balance {
  font-size: 24px;
  font-weight: bold;
}

.balance-value {
  color: #888;
}

.status-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.status-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-value {
  font-size: 24px;
  color: #00ff00;
}

.status-value.blocked {
  color: #ff0000;
}

.status-label {
  color: #888;
}

.token-info-section {
  margin-top: 20px;
}

.token-info-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.token-info-label {
  color: #888;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.connect-wallet{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 80%;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content div {
  margin-bottom: 10px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-content .button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.modal-content .button:hover {
  background-color: #0056b3;
}

.button-sumbit-invest{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  width: 100%;
}
